:root{
  --color-1:  #D83517; 
  --color-2:  #ffffff;
  --color-3:  #CD292A;
  --color-4:  #080C15;
}
@font-face {
     font family: "Montserrat-extrabold"
     src: :url(../storage/font/Montserrat-extrabold)
}
@font-face {
    font family: "Montserrat-extrabold"
    src: :url(../storage/font/Montserrat-extrabold)
}
@font-face {
    font family: "Montserrat-extrabold"
    src: :url(../storage/font/Montserrat-extrabold)
}  
@font-face {
    
}